

{% extends "glos/baselsp.html" %}
{% load i18n static %}



{% block content %}

<section id="search-domain" >
        <div class="container">
		
		<div class="col-md-8">
		
		 <p style='color:#092E20;font-size:25px;font-weight:bold;padding-top:20px;padding-left:15px;'>
         Wylogowano...
    </p>
    <p>Przekierowanie na stronę główną...</p> 

			</div>
        </div>
    </section>
    
<script>
    function redirect(){
       window.location.href = "/";
    }

    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
</script>

{% endblock %}