

{% extends "glos/baselsp.html" %}
{% load i18n static %}



{% block content %}

<section id="search-domain" >
        <div class="container">
        
            <div class="row">
				<div class="col-md-12">
				<form method="post" action="{% url 'login' %}">
			        <div class="form-control input-cls-login">  
				       
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
    <td><input type="submit" class="btn-l  btn-info btn-lg btn-set"  id="but" value="Login" /></td>
</tr>
<tr>
	<td>
	</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    
  
</tr>
</table>


<input type="hidden" name="next" value="{{ next }}" />

    			</div> 		
    			
				</div>  
                <div class="col-md-4">
                    	
                </div>
                
            </div>
            </form>
        </div>
    </section>

{% endblock %}