

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">Bazy terminologiczne</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Bazy terminologiczne</h2>
                                </div>

                                <div class="col-sm-8">
                                    <h4>Słowniki, glosariusze i bazy terminologiczne zawierają terminy, synonimy, akronimy stosowane przy tłumaczeniach oraz dodatkowe informacje takie jak definicje, określenie części mowy, rodzaju, kontekstu, itp. </h4>
                                 
  <h4>
Stosowanie baz terminologiocznych zapewnia: </h4>
<li>  poprawę spójności</li>
<li> ułatwia zrozumienie tekstu przez stosowanie zatwierdzonych terminów</li>
<li> w wersji serwerowej ułatwia dostęp dla wszystkich uczestników procesu przygotowania wersji wielojęzycznych</li>
<li> redukuje koszty i spójność tłumaczenia dzięki zdefiniowaniu terminologii na etapie powstawania dokumentacji</li>
<li> eliminuje błędy i rozbieżności przy tworzeniu nowej terminologii</li>


<img src="{% static "assets/images/work/w1.jpg" %}" alt="image">

                                </div>
                            </div>
                        </div> <!-- header -->

                       
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}