{% load i18n static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Terminologia online</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{% static "assetslsp/css/bootstrap.css" %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="{% static "assetslsp/css/font-awesome.css" %}" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="{% static "assetslsp/css/style.css" %}"  rel="stylesheet" />
</head>



<body > 
   
        <div class="navbar navbar-inverse navbar-fixed-top " >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
				<a href="{% url 'lspsoftware' %}"><img src="{% static "assetslsp/img/banner2.png" %}" alt="" class="img-rounded img-responsive" /></a>
                
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right set-links">
                    <limenu><a <a href="{% url 'index' %}" class="active-menu-item">Start</a></li>
                     <limenu><a href="http://lspsoftware.pl">LspSoftware</a></li>
                     
                    <limenu><a href="{% url 'login' %}" >Login</a></li>
                    
                    
                </ul>
            </div>

        </div>
    </div>
    <!--MENU SECTION END
    <section id="home-sec">
        <div class="overlay text-center2">
            <h1 >TERMINOLOGIA ONLINE</h1>
            <hr class="hr-set"/>

            <p>Słowniki specjalistyczne w jednym miejscu </p>
        </div>
    </section> -->
    <section id="slowniki">
        <div class="container">
            <div class="row">
<div class="col-md-12">
     <img src="{% static "assetslsp/img/blank.png" %}" alt="" class="img-rounded img-responsive" />
     
</div>
        
            </div>
        </div>
    </section> 
    <!--HOME SECTION END-->
    
{% block content %}
            


{% endblock %}
    <!--CLIENTS SECTION END-->
	   
    
  <!--
    <section id="footer-sec" >
        <div class="container">
            <div class="row">
<div class="col-md-4">
   <h4>Informacje</h4>
    <p style="padding-right:50px;">
        Właścicielem marki TERMINOLOGIA-ONLINE<br>jest firma LSP Software sp. zo.o.
        	</a>
    </p>
</div>
                <div class="col-md-4">
       
                   
</div>
                <div class="col-md-4">
      <h4>Media społecznościowe</h4>
                    <div class="social-links">

                    
                    <a href="#" > <i class="fa fa-facebook fa-2x" ></i></a>
                         <a href="#" > <i class="fa fa-twitter fa-2x" ></i></a>
                         
                   </div>

</div>
               
            </div>
               
        </div>
    </section> -->
     <!--FOOTER SECTION END-->
    <div class="copy-txt">
         <div class="container">
        <div class="row">
<div class="col-md-12 set-foot" >
    &copy 2017 LspSoftware | All rights reserved.</a> 
</div>
            </div>
                   </div>
    </div>
     <!-- COPY TEXT SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <!-- <script src="{% static "assetslsp/js/jquery-1.11.1.js" %}"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> -->
    <script src="{% static "assetslsp/js/jquery.min.js" %}"></script>
	<script src="{% static "assetslsp/js/main.js" %}"></script>


    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="{% static "assetslsp/js/bootstrap.js" %}"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="{% static "assetslsp/js/custom.js" %}"></script>
</body>
</html>
