{% extends "admin/base_site2.html" %}

{% load static %}
{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}

{% block content %}

<h1>Edit term {{ entry }}:</h1>
<table>
<tr>
{% for update in updated %}
		<td style="width:260px">  
		<div class="fieldWrapper">
	    	<h3>Update: {{ update.updated }}</h3>
		</div>
		</td>
		
{% endfor %}
</tr>
<tr>
{% for update in updated %}
		<td > 
		<div class="fieldWrapper">
	    	<h3>Language: {{ update.language }}</h3>
		</div>
		</td>
		
{% endfor %}
</tr>
<tr>
{% for update in updated %}
		<td > 
		<div class="fieldWrapper">
	    	<h3>Termbase: {{ update.termbase }}</h3>
		</div>
		</td>
		
{% endfor %}
</tr>
<tr>
{% for update in updated %}
		<td > 
		<div class="fieldWrapper">
	    	<h3>Creator: {{ update.creator }}</h3>
		</div>
		</td>
		
{% endfor %}
</tr>
</table>
<form action="" method="post" >

	{% csrf_token %}
	{{ forms.management_form }}

<table>
	<tr>
	{% for form in forms %}
	 
		<div class="fieldWrapper">
	    	{{ form.language.errors }}
	   
	    	{{ form.language.as_hidden }}
		</div>
		
	{% endfor %}
	</tr>
	<tr>
	{% for form in forms %}

		<div class="fieldWrapper">
	    	{{ form.termbase.errors }}
	    	
	    	{{ form.termbase.as_hidden }}
		</div>
	
	{% endfor %}
	</tr>
	{% for form in forms %}
		
		<div class="fieldWrapper">
	    	{{ form.id.errors }}
	    	
	    	{{ form.id.as_hidden }}
		</div>
		
	{% endfor %}
	<tr>
	{% for form in forms %}
	
		<div class="fieldWrapper">
	    	{{ form.creator.errors }}
	    	
	    	{{ form.creator.as_hidden }}
		</div>
	
	{% endfor %}
	</tr>
	
	<tr>
	{% for form in forms %}
		<td> 
		<div class="fieldWrapper">
	    	{{ form.value.errors }}
	    	<label for="{{ form.value.id_for_label }}"><h3>Value:</h3></label>
	    	{{ form.value }}
		</div>
		</td>
	{% endfor %}
	</tr>
	
	
	
	

</table>





 
    <input type="hidden" name="action" value="edit_entry" />
    <input type="submit" name="save" value="Save" />
    <input type="submit" name="cancel" value="Cancel" />
</form>



{% endblock %}

