{% extends "registration/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if termbases %}
    
        <div class="app-auth module">
        <table width="400">
        <caption>
            <a>Termbases</a>
        </caption>
        {% for termbase in termbases %}
            <tr class="model-group">        
                <th scope="row">{{ termbase.termbase }}</th>
               
            </tr>
        {% endfor %}
        </table>
        </div>
{% else %}
    <p>{% trans "You don't have any termbases." %}</p>
{% endif %}
</div>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search" />
</form>


        <table width="600">
        <colgroup>
	       <col span="1" style="width: 30%;">
	       <col span="1" style="width: 70%;">
       
    	</colgroup>
        
        

        {% if results %}
            {% for entry in results %}
            <a> </a>
            <tr bgcolor="#aaFFaa"><td></td><td></td></tr>
						<td>
							{% for desc in entry.descripGrp %}
								<li> {{ desc.value  }} </li>
							{% endfor %}
						</td>
				{% for lang in entry.languages %}
					<tr>
						<td bgcolor="#E6E6FA"><h3> {{ lang.lang }} </h3></td>
						<td><li> Entry id: <b>{{ entry.id }} </b></li>
							<li> Termbase: <b>{{ entry.termbase }} </b> </li></td>
					</tr>
					<tr> 
						<td> </td>
						<td>
							{% for desc in lang.descripGrp %}
								<li> {{ desc.value  }} </li>
							{% endfor %}
						</td>
					</tr>
					
					{% for term in lang.termGrp %}
					<tr>
						<td style="font-size:30px"> <span style ="line-height:35px">{{ term.value }} </span></td>
						<td> </td>
					</tr>
					<tr>
						<td> </td>
						<td>
							{% for desc in term.descripGrp %}
								<li> {{ desc.value  }} </li>
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
					
				{% endfor %}	
			{% endfor %}	
			
			
					
		{% else %}
			<th>No results...</th>
		{% endif %}
         </table>
    

{% endblock %}


