{% extends "registration/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<style>
.right {
    position:absolute;
    right:60px; top:80px; bottom: 0;
    width: 200px;
}

</style>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

 
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script> 
         $(function () { 
            // Correctly decide between ws:// and wss:// 
             var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws"; 
             var ws_path = ws_scheme + '://' + window.location.host; 
             var socket = new WebSocket(ws_path); 

// Call onopen directly if socket is already open
			if (socket.readyState == WebSocket.OPEN) socket.onopen();
					socket.onmessage = function(e) {
    						alert(e.data);
    		}
             // Helpful debugging 
            socket.onopen = function () { 
            	socket.send("hello world");
                 console.log("Connected to chat socket"); 
             }; 
             socket.onclose = function () { 
                 console.log("Disconnected from chat socket"); 
             } 
             });
</script>
<div class="right">
<form action="" method="post">
<div id="content-main">

{% if termbases %}
    
        <div class="app-auth module">
        <table width="200">
        <caption>
            <a>Termbases</a>
        </caption>
        {% for termbase in termbases %}
            <tr> 
            {% if termbase.termbase.termbase_name  in selectedtermbases %} 
             
                <td> <input checked="checked" type="checkbox" name="checks[]" value="{{ termbase.termbase}}">  {{ termbase.termbase}}</input></td>
            {% else %}
            	<td> <input  type="checkbox" name="checks[]" value="{{ termbase.termbase}}">  {{ termbase.termbase}}</input></td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
{% else %}
    <p>{% trans "You don't have any termbases." %}</p>
{% endif %}
</div>
<div id="content-main">
    
        <div class="app-auth module">
        <table width="200">
        <caption>
            <a>Source Language</a>
        </caption>
        {{ form2 }}
        </table>
        </div>

</div>
</div>
    {% csrf_token %}
 
    {{ form }}
    <input type="submit" value="Search" />
</form>
<a><br/></a>

        <table width="1200">
        <colgroup>
       	 <col span="1" style="width: 5%;">
	       <col span="1" style="width: 5%;">
	       <col span="1" style="width: 18%;">
	       <col span="1" style="width: 5%;">
	       <col span="1" style="width: 18%;">
	       <col span="1" style="width: 51%;">
	       
       	
    	</colgroup>
        {% if results %}
        <tr>
        	<th>Termbase</th>
        	<th>Language</th>
        	<th>Source Term</th>
        	<th>Language</th>
        	<th>Target Term</th>
        	<th>Description</th>
        </tr>
            {% for entry in results %}
            <tr>
            <td> {{ entry.termbase }} </td>
	            {% for lang in entry.languages %}
	            	{% if lang.lang|stringformat:"s" == sourcelanguage|stringformat:"s" %}
	            	<td>{{lang.lang}}</td> <td> 
	            		{% for term in lang.termGrp %}
	            		<a href="{% url 'editentry' term.id  %}">
	            			 <b>{{ term.value  }} </b></a><br/>
	            			{% for desc in term.descripGrp %}
	            			<li> <i><b>{{ desc.name }}:</b> {{ desc.value  }} </i></li>
	            			{% endfor %}
	            		{% endfor %} </td>
	            	{% endif %}
	            {% endfor %}
            	{% for lang in entry.languages %}
	            	{% if lang.lang|stringformat:"s" != sourcelanguage|stringformat:"s" %}
	            	<td>{{lang.lang}}</td> <td> 
	            		{% for term in lang.termGrp %}
	            		<a href="{% url 'editentry' term.id  %}">
	            			 <b>{{ term.value  }} </b></a><br/>
	            			{% for desc in term.descripGrp %}
	            			<li> <i><b>{{ desc.name }}:</b> {{ desc.value  }} </i></li>
	            			{% endfor %}
	            		{% endfor %} </td>
	            	{% endif %}
	            {% endfor %}
            <td>
				{% for edesc in entry.descripGrp %}
					<li> {{ edesc.value  }} </li>
				{% endfor %}
				{% for lang in entry.languages %}
					{% for ldesc in lang.descripGrp %}
						<li> <i><b>{{ ldesc.name }}:</b> {{ ldesc.value  }} </i></li>
					{% endfor %}
					
				{% endfor %}
				
				
			</td>
            
            
			{% endfor %}	
			
			
					
		{% else %}
			{% if too_short %}
			<tr>Query too short. Must have minimum 3 characters!</tr>
			{% else %}
			<tr>No results...</tr>
			{% endif %}
		{% endif %}
         </table>
    

{% endblock %}


