

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="slider-section">
                <div class="tp-banner-container">
                    <div class="tp-banner" >
                        <ul>
                            <!-- SLIDE  -->
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-thumb="{% static "assets/images/slider/slider-3.jpg" %}" data-delay="13000" data-title="LocStar" >
                                <!-- MAIN IMAGE -->
                                <img src="{% static "assets/images/slider/slider-33.jpg" %}" alt="newslide2014_1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption large-text customin customout"
                                    data-x="100"
                                    data-y="200"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="1800"
                                    data-start="500"
                                    data-easing="Power3.easeInOut"
                                    data-splitin="chars"
                                    data-splitout="chars"
                                    data-elementdelay="0.08"
                                    data-endelementdelay="0.08"
                                    data-end="8000"
                                    data-endspeed="500"
                                    style="z-index: 2;"> <h1>Zlokalizuj swoje produkty<br>i zdobądź nowe rynki</h1>
                                </div>
                                

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption small-text customin customout rs-parallaxlevel-0"
                                    data-x="430" 
                                    data-y="550"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="2000"
                                    data-start="3300"
                                    data-easing="Power3.easeInOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-end="11000"
                                    data-endspeed="2000"
                                    data-linktoslide="next"
                                    style="z-index: 8;"> Przetłumaczyliśmy już ponad 150 milionów słów, a efekty naszej pracy<br>można zobaczyć na każdym kroku <br/> najłatwiej po prostu włączyć komputer.
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption lfb ltt"
                                    data-x="430"
                                    data-y="675"
                                    data-speed="1800"
                                    data-start="4500"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-end="12000"
                                    data-endspeed="1800"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3;">
                                    <div class="link-button hidden-xs">
                                        <a href="#" class="btn btn-primary">Dowiedz się więcej</a>
                                        <a href="#" class="btn btn-default">Kontakt</a>
                                    </div> <!-- link-button -->
                                </div>
                            </li>

                            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-thumb="{% static "assets/images/slider/slider-2.jpg" %}" data-delay="13000" data-title="LocStar" >
                                <!-- MAIN IMAGE -->
                                <img src="{% static "assets/images/slider/slider-22.jpg" %}" alt="newslide2014_1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption large-text text-left customin customout"
                                    data-x="300"
                                    data-y="260"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="1800"
                                    data-start="500"
                                    data-easing="Power3.easeInOut"
                                    data-splitin="chars"
                                    data-splitout="chars"
                                    data-elementdelay="0.08"
                                    data-endelementdelay="0.08"
                                    data-end="8000"
                                    data-endspeed="500"
                                    style="z-index: 2;"> <h1>Tłumaczenie i lokalizacja <br>to nasza pasja</h1>
                                </div>
                                

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption small-text text-left customin customout rs-parallaxlevel-0"
                                    data-x="300" 
                                    data-y="550"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="2000"
                                    data-start="3300"
                                    data-easing="Power3.easeInOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-end="11000"
                                    data-endspeed="2000"
                                    data-linktoslide="next"
                                    style="z-index: 8;"> Nasze doświadczenie jest poparte wieloletnią współpracą z największymi<br>i najbardziej znanymi firmami na świecie.
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption lfb ltt"
                                    data-x="400"
                                    data-y="675"
                                    data-speed="1800"
                                    data-start="4500"
                                    data-easing="Power4.easeOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-end="12000"
                                    data-endspeed="1800"
                                    data-endeasing="Power4.easeIn"
                                    style="z-index: 3;">
                                    <div class="link-button hidden-xs">
                                        <a href="#" class="btn btn-primary">O nas</a>
                                        <a href="#" class="btn btn-default">Kontakt</a>
                                    </div> <!-- link-button -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section> <!-- slider-section -->



             <section class="research-section">
                <div class="container">
                    <div class="title-bar text-center">
                        <h2 class="title">Recent Case Studies</h2>
                        <span class="title-border"></span>
                    </div> <!-- title-bar -->

                    <div class="section-wrapper">
                        <div class="row">
                            <div class="col-md-6 padding-right">
                                <div class="research-content">
                                    <div id="research-carousel-one" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <span class="testimonial-caption pull-left"><img src="assets/images/r1.jpg" alt="image"></span>
                                            </div>

                                            <div class="item">
                                                <span class="testimonial-caption pull-left"><img src="assets/images/r2.jpg" alt="image"></span>
                                            </div>
                                        </div> <!-- carousel-inner -->

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#research-carousel-one" role="button" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                        <a class="right carousel-control" href="#research-carousel-one" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div> <!-- research-carousel -->

                                    <div class="content-bar left-content">
                                        <h3>Stock Market Analysis & Market <br> Downfall Research</h3>
                                        <p>Companies are redesigning their machines, giving them the ability to interact with people and/or other machines while also understanding the context in which thisinteraction happens a key consideration in designdecisions..</p>
                                        <a href="#" class="btn btn-primary">View Case Study</a>
                                    </div> <!-- content-bar -->
                                </div> <!-- research-content -->
                            </div>

                            <div class="col-md-6 padding-left">
                                <div class="research-content">
                                    <div class="content-bar right-content">
                                        <h3>Stock Market Analysis & Market <br> Downfall Research</h3>
                                        <p>Companies are redesigning their machines, giving them the ability to interact with people and/or other machines while also understanding the context in which thisinteraction happens a key consideration in designdecisions..</p>
                                        <a href="#" class="btn btn-primary">View Case Study</a>
                                    </div> <!-- content-bar -->

                                    <div id="lightBox" class="research-caption">
                                        <a href="assets/images/r2.jpg"><img src="assets/images/r2.jpg" alt="image"></a>
                                    </div> <!-- research-caption -->
                                </div> <!-- research-content -->
                            </div>
                        </div>
                    </div> <!-- section-wrapper -->
                </div>
            </section> <!-- research-section -->



            <section class="working-section">
                <div class="container">
                    <div class="title-bar text-center">
                        <h2 class="title">Nasza firma</h2>
                    </div> <!-- title-bar -->

                    <div class="working-wrapper">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="wrapper-content">
                                    <p>Nie jesteśmy firmą zajmującą się pośrednictwem między klientem a tłumaczami. Bazujemy na własnym zespole pracowników z naszego biura w Szczecinie oraz stałych współpracownikach zdalnych. Są to wysokiej klasy specjaliści z wieloletnim doświadczeniem, którzy przetłumaczyli setki tysięcy słów w projektach dla największych światowych firm. Dzięki specjalistycznemu systemowi do zarządzania pracą zdalną osoby pracujące w siedzibie firmy oraz w domu stanowią jeden, doskonale komunikujący się zespół.
</p>

                                    <a href="#" class="btn btn-primary">Dowiedz się więcej</a>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div id="working-carousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="{% static "assets/images/work/w1.jpg"  %}" alt="image">
                                        </div>

                                        <div class="item">
                                            <img src="{% static "assets/images/work/w2.jpg"  %}" alt="image">
                                        </div>
                                         <div class="item active">
                                            <img src="{% static "assets/images/work/w3.jpg"  %}" alt="image">
                                        </div>
                                         <div class="item active">
                                            <img src="{% static "assets/images/work/w4.jpg"  %}" alt="image">
                                        </div>
                                         <div class="item active">
                                            <img src="{% static "assets/images/work/w5.jpg"  %}" alt="image">
                                        </div>
                                         <div class="item active">
                                            <img src="{% static "assets/images/work/w6.jpg"  %}" alt="image">
                                        </div>
                                         <div class="item active">
                                            <img src="{% static "assets/images/work/w7.jpg"  %}" alt="image">
                                        </div>
                                    </div>
                                      <a class="left carousel-control" href="#working-carousel" role="button" data-slide="prev">
                                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                                      </a>
                                      <a class="right carousel-control" href="#working-carousel" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- working-wrapper -->
                </div>
            </section> <!-- working-section -->

  <section class="contact-section section-padding">
                <div class="map-section">
                    <div id="googleMap"></div>

                    <span class="form-view"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to form</span>
                </div> <!-- map-section -->

                <div class="contact-section-one">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-one-wrapper">
                                    <div class="row">
                                        <button class="quote">Request a quote</button>
                                        <h3>Contact our support guys or make appointment with our consultants</h3>
                                        <p>Please contact us using the information below. For additional information on our management consulting services, please visit the appropriate page on our site.</p>

                                        <div class="col-md-6 section-left">
                                            <div class="contact-wrapper">
                                                <ul class="location">
                                                    <li>
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>

                                                        <div class="content">
                                                            <span class="text">ul. Bajana 8A<br> 71-330 Szczecin <br> Poland</span>

                                                            <span class="map-view"><i class="fa fa-street-view" aria-hidden="true"></i> view on map</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                                        <span class="text">+48 91 4875311</span>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                        <span class="text">info@locstar.pl</span>
                                                    </li>
                                                </ul>
                                            </div> <!-- contact-wrapper -->
                                        </div>

                                        <div class="col-md-6">
                                            <div class="contact-wrapper">
                                                <form class="contact-form">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                                                    </div>

                                                    <div class="form-group">
                                                        <input class="contactSearchBar" value="Email" onblur="if(this.value=='')this.value='Email'" onfocus="if(this.value=='Email')this.value=''" id="contactSearchBar" name="email" type="email">
                                                    </div>

                                                    <div class="form-group">
                                                        <textarea class="form-control" placeholder="Text" rows="2"></textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <button type="submit" class="subscribeBtn btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div> <!-- contact-wrapper -->
                                        </div>
                                    </div>
                                </div> <!-- section-one-wrapper -->
                            </div>

                            <div class="col-md-4">
                                <span class="caption hidden-sm hidden-xs"><img src="{% static "assets/images/girl.png"  %}" alt="image"></span>
                          
                            </div>
                        </div> 
                    </div> <!-- container -->
                </div> <!-- contact-section-one -->
            </section> <!-- contact-section -->

            <section class="information-section">
                <div class="container">
                    <h3>Zachęcamy do kontaktu z nami</h3>
                    <a href="#" class="btn btn-primary pull-right">Kontakt</a>
                </div>
            </section> <!-- information-section -->



             <section class="counting-section">
                <div class="container text-center">
                    <h2 class="hidden">counting-title</h2>

                    <div class="counting-pusher">
                        <div class="counting-wrapper">
                            <div class="count-description inline-block">
                                <span class="timer">23</span>
                            </div>
                            <p>lata doświadczenia w lokalizacji</p>
                        </div>  <!-- counting-wrapper --> 

                        <div class="counting-wrapper">
                            <div class="count-description inline-block">
                                <span class="timer">2500</span>
                            </div>
                            <p>zrealizowanych projektów</p>
                        </div>  <!-- counting-wrapper -->

                        <div class="counting-wrapper">
                            <div class="count-description inline-block">
                                <span class="timer">150</span>mln
                            </div>
                            <p>przetłumaczonych słów</p>
                        </div>  <!-- counting-wrapper -->

                        <div class="counting-wrapper">
                            <div class="count-description inline-block">
                                <span class="timer">65</span>
                            </div>
                            <p>zadowolonych klientów</p>
                        </div>  <!-- counting-wrapper -->
                    </div> <!-- /.counting-pusher -->
                </div>
            </section> <!-- counting-section -->



            <section class="service-section">
                <div class="container text-center">
                    <div class="service-carousel owl-carousel owl-theme">
                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s1.png"  %}" alt="image">
                            <h3>Airlines & Transportation</h3>
                            <p>Few industries are as demanding as transportation services. That's why we are here to solve all the problems</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s2.png"  %}" alt="image">
                            <h3>Oil & Gas</h3>
                            <p>We advise government and national oil companies, major and independent commercial oil companies</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s3.png"  %}" alt="image">
                            <h3>Healthcare</h3>
                            <p>Healthcare companies must identify ways to deliver better value for patients and fuel innovation.</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s2.png"  %}" alt="image">
                            <h3>Oil & Gas</h3>
                            <p>We advise government and national oil companies, major and independent commercial oil companies</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s1.png"  %}" alt="image">
                            <h3>Airlines & Transportation</h3>
                            <p>Few industries are as demanding as transportation services. That's why we are here to solve all the problems</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s3.png"  %}" alt="image">
                            <h3>Healthcare</h3>
                            <p>Healthcare companies must identify ways to deliver better value for patients and fuel innovation.</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s1.png"  %}" alt="image">
                            <h3>Airlines & Transportation</h3>
                            <p>Few industries are as demanding as transportation services. That's why we are here to solve all the problems</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s3.png"  %}" alt="image">
                            <h3>Healthcare</h3>
                            <p>Healthcare companies must identify ways to deliver better value for patients and fuel innovation.</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->

                        <div class="service-wrapper item">
                            <img src="{% static "assets/images/icon/s2.png"  %}" alt="image">
                            <h3>Oil & Gas</h3>
                            <p>We advise government and national oil companies, major and independent commercial oil companies</p>
                            <a href="#" class="link">Go to Service <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div> <!-- service-wrapper -->
                    </div> <!-- service-carousel -->
                </div>
            </section> <!-- service-section -->



            


            

{% endblock %}