

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">{% trans 'Tłumaczenie maszynowe' %}</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>{% trans 'Tłumaczenie maszynowe' %}</h2>
                                    <p><i>{% trans '„Współcześni klienci dzielą się na takich, którzy nie życzą sobie tłumaczenia maszynowego albo je wręcz promują. Nasze stanowisko jest niezmienne – nigdy nie użyjemy tłumaczenia maszynowego w standardowym projekcie, w szczególności zatajając taki fakt przed klientem.  Równocześnie jesteśmy w pełni przygotowani na pracę z MT w sytuacji, gdy klient sobie tego życzy.”' %}</i></p>
                                    <img src="{% static "assets/images/mt.jpg" %}" alt="image">
                                </div>

                                <div class="col-sm-8">
<h4>{% trans 'Nasz model biznesowy bazuje na tłumaczeniach tradycyjnych, gdzie główną rolę odgrywają tłumacze, korektorzy oraz specjaliści językowi/eksperci branżowi.' %}</h4>
<h4>{% trans 'Istnieją jednak projekty, w których klienci oczekują zastosowania tłumaczenia maszynowego (MT) bądź sami przygotowują wstępne tłumaczenie z wykorzystaniem tej technologii. Wówczas naszą rolą jest post-editing, czyli weryfikacja i korekta tłumaczeń maszynowych, tak aby finalna jakość tłumaczeń nie odbiegała od wyników uzyskanych w procesie tradycyjnym.' %}</h4>
<h4>{% trans 'Firma LocStar posiada niezbędne doświadczenie w tej dziedzinie i na życzenie klienta może przygotować silnik tłumaczenia maszynowego na podstawie pamięci tłumaczeń i słowników klienta oraz swoich autorskich materiałów. Pozwala to na uzyskanie możliwie najwyższej jakości tłumaczenia wynikowego. Dysponujemy również zespołem post-edytorów, którzy mają wieloletnie tłumaczenie w zakresie korekty tłumaczenia maszynowego.' %}</h4>
<h3>{% trans 'Oferta firmy LocStar:' %}</h3>                
<h4>
<ul class="fa-ul">                                  
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'post-editing tłumaczenia maszynowego' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'kontrola jakości i optymalizacja silników tłumaczenia maszynowego' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'tworzenie silnika tłumaczenia maszynowego' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'przygotowywanie plików z tłumaczeniem maszynowym do dalszego post-editingu' %}</li>
</ul>
</h4>




                                </div>
                            </div>
                        </div> <!-- header -->

                       
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}