

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">{% trans 'Ceny' %}</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>{% trans 'Ceny' %}</h2>
                                    <p><i>{% trans '„XXXXXXXXXX XXXXXXXXXXX XXXXXXXXXXXX.”' %}</i></p>
                                    <img src="{% static "assets/images/pricing.jpg" %}" alt="image">
                                </div>

                                <div class="col-sm-8">
                                <h3>{% trans 'Konkurencyjność poprzez jakość' %}</h3>
<h4>{% trans 'Nasz model biznesowy bazuje na dostarczaniu profesjonalnych tłumaczeń najwyższej jakości, dzięki czemu nasi klienci oszczędzają czas i nakłady na weryfikację, poprawianie usterek czy zbędną komunikację w zakresie pojawiających się problemów. Nie muszą się martwić o terminowość wykonania, zachowanie właściwych formatów czy stosowanie się do instrukcji. Ponieważ zależy nam, aby nasi klienci osiągali sukces w branży, niejednokrotnie z władnej inicjatywy i bezpłatnie wykonujemy nawet szerszy zakres prac niż samo tłumaczenie. Raportujemy zauważone błędy, sugerujemy lepsze rozwiązania z zakresu lokalizacji, staramy się nieustannie podnosić jakość wszystkich materiałów klienta.' %}</h4>
  
  <h3>{% trans 'Dla firmy branży lokalizacyjnej' %}</h3>
  
<h4>{% trans 'Prosimy o kontakt pod adresem sales@locstar.pl w celu uzyskania naszego podstawowego cennika tłumaczeń i usług dodatkowych. W zależności od wolumenów tłumaczeń możliwe są rabaty ilościowe. Wszystkie nasze stawki obejmują cały zakres prac, czyli tłumaczenie, korektę, przygotowanie plików do tłumaczenia oraz ich odesłanie, podstawowe testy spójności i zgodności z zatwierdzoną terminologią. W rozliczeniach z firmami branży lokalizacyjnej przyjmujemy stosowane przez nich modele rozliczeniowe.' %}</h4>
<h4>{% trans 'Rozliczamy się w EUR, USD oraz PLN (zależnie od preferencji klienta).' %}</h4>

<h3>{% trans 'Dla klientów bezpośrednich' %}</h3>
<h4>{% trans 'Większość agencji tłumaczeniowych oferuje atrakcyjne stawki i model rozliczania na tzw. strony. Stroną jest najczęściej 1500 lub 1800 znaków. Klienci, którzy są nieświadomi tego, z czym wiąże się taki system rozliczeń, przy dłuższej współpracy z taką agencją wielokrotnie przepłacają.' %}</h4>
<h4>{% trans 'Firma Locstar nigdy nie stosuje rozliczeń za stronę. Nasze wyceny bazują wyłącznie na analizie zawartości plików do tłumaczenia (liczba słów i poziom podobieństwa do tłumaczeń wykonanych już wcześniej. W ten sposób obliczana jest ważona liczba słów do przetłumaczenia, mnożona następnie przez stawkę. Dzięki temu nasi klienci notują znaczne oszczędności przy dłuższej współpracy, czasem sięgające nawet 80% względem niekorzystnych płatności za stronę.' %}</h4>
<h4>{% trans 'Aby uzyskać wycenę, najlepiej przesłać nam pliki do tłumaczenia, a my wykonamy w ciągu jednego dnia roboczego dokonamy analizy i przedstawimy wyniki.' %}</h4>
<h4>{% trans 'Zachęcamy do kontaktu pod adresem <a href="mailto:sales@locstar.pl">sales</a>.' %}</h4>
                                </div>
                            </div>
                        </div> <!-- header -->

                       
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}