{% extends "glos/base.html" %}
{% load i18n static %}
{% block content %}
    

            
<!--

            <section class="banner-section">
                <div class="container">
                    <div class="header-title text-center">
                        <h2 class="title">Services</h2>
                        <span class="sub-title">Home > <span>Services</span></span>
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->

-->
<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">Services</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
            
            
            <section class="working-section section-padding">
                <div class="working-section-two">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="section-sidebar">
                                    <div class="project-part">
                                        <ul>
                                            <li><a href="{% url  'translation'  %}">General Translation <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                            <li><a href="{% url  'localization'  %}">Software Localization <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                            <li><a href="{% url  'website'  %}">Website Localization <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                            <li><a href="{% url  'other'  %}">Other Services <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div> <!-- project-part -->

                                    <div class="contact-part">
                                        <h4>Contact</h4>

                                        <ul class="location">
											<li>
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                <span class="text">Bajana 8A<br>71-330 Szczecin<br>Poland</span>
                                            </li>
											<li>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <span class="text">info@locstar.pl<br>&nbsp;</span>
                                            </li>
											<li>
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <span class="text">+48 91 4875311</span>
                                            </li>
                                            

                                            

                                            
                                        </ul>
                                    </div> <!-- contact-part -->

                                    
                                </div> <!-- section-sidebar -->
                            </div> <!-- col-md-4 -->

                            <div class="col-md-8">
                                <div class="header">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h2>Our services</h2>
                                        </div>

                                        <div class="col-sm-7">
                                            <p>Świadczymy kompleksowe usługi związane z <b>lokalizacją oprogramowania i tłumaczeniem</b>, głównie z języka angielskiego na język polski. Przetłumaczyliśmy już ponad 150 milionów słów, a efekty naszej pracy można zobaczyć w postaci zlokalizowanych produktów na prawie każdym komputerze i telefonie — najbardziej popularny pakiet biurowy i system operacyjny w języku polskim to efekty naszej pracy.</p>
                                        </div>
                                    </div>
                                </div> <!-- header -->

                                <div class="section-wrapper">
                                    <div class="row">                                    
                                        <div class="col-sm-6">
                                            <div class="wrapper-content">
                                                <a href="{% url  'translation'  %}"> <img  src="{% static "assets/images/work/w1.jpg" %}" alt="image"></a>
                                                <a href="{% url  'translation'  %}"><h3>General Translation</h3></a>
												<p>instrukcje obsługi, materiały marketingowe, dokumentacja…</p>
                                                <a href="#" class="btn btn-primary">Read More</a>
                                            </div>
                                        </div>
										<div class="col-sm-6">
                                            <div class="wrapper-content">
                                                <img src="{% static "assets/images/work/w2.jpg" %}" alt="image">
                                                <h3>Software Localization</h3>
												<p>programy, aplikacje, systemy, gry…</p>
                                                <a href="#" class="link">More info </a>
                                            </div>
                                        </div>
									</div>
									<div class="row">    
                                        <div class="col-sm-6">
                                            <div class="wrapper-content">
                                                <img src="{% static "assets/images/work/w3.jpg" %}" alt="image">
                                                <h3>Website Localization</h3>
												<p>witryny, serwisy, sklepy, aplikacje internetowe...</p>
                                                <a href="#" class="link">More info <i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="wrapper-content">
                                                <img src="{% static "assets/images/work/w3.jpg" %}" alt="image">
                                                <h3>Other Services</h3>
												<p>kontrola jakości, usługi językowe, testowanie, studio nagraniowe...</p>
                                                <a href="#" class="link">More info <i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
									</div>
                                    
                                </div> <!-- section-wrapper -->
                            </div> <!-- col-md-8 -->
                        </div>
                    </div>
                </div> <!-- working-section-two -->
            </section>


{% endblock %}
  


