

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">Tłumaczenie i lokalizacja</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Tłumaczenie i lokalizacja</h2>
                                </div>

                                <div class="col-sm-8">
                                    <h5>Oferujemy następujące usługi w zakresie lokalizacji i tłumaczeń z języka angielskiego na język polski:</h5>
<h5><b>Lokalizacja oprogramowania (interfejsu użytkownika):</b>  
<li>oprogramowanie komputerowe</li>
<li>aplikacje telefonii komórkowej</li>
<li>oprogramowanie sterujące sprzętu elektronicznego i maszyn</li></h5>
<h5>
<b>Tłumaczenie:</b>
<li>dokumentacji i plików pomocy</li>
<li>zawartości witryn internetowych i intranetowych</li>
<li>instrukcji obsługi oraz dokumentacji technicznej</li>
<li>materiałów marketingowych, broszur itp.</li>
<li>materiałów szkoleniowych i innych wewnętrznych materiałów firmowych</li></h5>
<h5>Dostarczamy tłumaczenia dla firm z branży IT, przemysłu (m.in. elektronika, motoryzacja i sprzęt medyczny), handlu oraz produktów konsumenckich.
</h5>


<h5><b>Czym jest lokalizacja?</b></h5>

<h5>Lokalizacja jest procesem przetwarzania obiektu z jednego środowiska do drugiego, w ramach którego obiekt zachowuje swoje najistotniejsze cechy, a cechy nieprzekładalne na kulturę docelową są w miarę możliwości zastępowane ich odpowiednikami w danej kulturze. Najczęściej mówiąc o lokalizacji, mamy na myśli lokalizację oprogramowania.</h5>

<h5><b>Skąd bierze się zapotrzebowanie na lokalizację?</b></h5>
<h5>
<li>Wymogi prawne wielu państw</li>
<li>Chęć dotarcia do nowych rynków</li>
<li>Rosnące zapotrzebowanie na rynkach stale się rozwijających</li>
<li>Polityka korporacji</li>
<li>Ułatwienie korzystania z produktów</li>
<li>Chęć zwiększenia sprzedaży</li>
<li>Ulepszanie wizerunku korporacji</li>
<li>Strategia "Time to market"</li>
</h5>
                                </div>
                            </div>
                        </div> <!-- header -->

                        
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}