

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">Translation Tools</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Translation Tools</h2>
                                </div>

                                <div class="col-sm-8">
                                    <h4>Realizowane przez nasz projekty tłumaczeniowe wykonujemy w zasadzie na dowolnych systemach CAT w zależności od potrzeb klienta. Narzędzia i systemy używane w naszej firmie umożliwiają konwersję formatów plików, pamięci tłumaczeń oraz słowników i glosariuszy, co umożliwia zastosowanie najbardziej odpowiednich procesów dla danego klienta i jego produktów. </h4>
 <h3>Narzędzia CAT:</h3>
 <h4>
<li>SDL Trados Studio</li>
<li>memoQ</li>
<li>MateCAT</>
<li>Memsource</li>
</h4>
<h3>Zarządzanie terminologią:</h3>
<h4>
<li>SDL MultiTerm</li>
<li>memoQ</li>
<li>MateCAT</>
<li>Memsource</li>
<li>LocStar LocTerms</li>
</h4>

<h3>Inne narzędzia:</h3>
<h4>
<li>Xbench</li>
<li>LocStar LocTM</li>
<li>OverTheRainbow</li>
</h4>

<img src="{% static "assets/images/work/w1.jpg" %}" alt="image">

                                </div>
                            </div>
                        </div> <!-- header -->

                       
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}