{% extends "admin/base_site2.html" %}

{% load static %}
{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}

{% block content %}

<p>Select tbx file to import from:</p>

<form action="{{ path }}" method="post" enctype="multipart/form-data">

	{% csrf_token %}
	
 {{ tag_form }}




 <p>The file will be imported to: <b>{{ articles|first }}</b> termbase</p>
 
    <input type="hidden" name="action" value="add_tag" />
    <input type="submit" name="apply" value="Apply tag" />
    <input type="submit" name="cancel" value="Cancel tag" />
</form>



{% endblock %}