

{% extends "locstar/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">{% trans 'O firmie' %}</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h2 class="about">{% trans 'Blisko ćwierć wieku sukcesów' %}</h2>
                                    <I>{% trans '„Ponad 1 milion słów miesięcznie, zadowoleni klienci końcowi, najwyższe oceny w zakresie solidności współpracy, terminowości oraz jakości tłumaczeń.”' %}</I>
                                     <img class="img-responsive" src="{% static "assets/images/locstar_building600r.jpg" %}" alt="image">
                                </div>

                                <div class="col-sm-7">
<h4>{% trans 'Od roku 1994 oferujemy nasze usługi w zakresie tłumaczenia i lokalizacji oprogramowania, stron oraz aplikacji internetowych, dokumentacji online, materiałów marketingowych, instrukcji obsługi, a także wielu innych treści.' %} </h4>
<h4>{% trans 'Nasz model biznesowy bazuje na dostarczaniu usług tłumaczeniowych z języka angielskiego na polski dla dużych firm z branży lokalizacyjnej, którzy posiadając klientów w skali globalnej, polegają na naszych usługach w zakresie języka polskiego. Współpracujemy również z klientami bezpośrednimi.' %} </h4>
<h4>{% trans 'Jesteśmy wiodącą firmą na rynku polskim. Doskonałe oceny jakości naszej pracy są dla nas niezmiennie motywujące do utrzymywania naszych usług na najwyższym poziomie. Realizujemy projekty największych producentów branży IT. Naszą domeną są również tłumaczenia w dziedzinach takich jak biznes, przemysł, elektronika, nowe technologie, edukacja i rozrywka. Stabilność i wiarygodność naszej firmy zostały między innymi potwierdzone seryjnym przyznawaniem nam Certyfikatów Wiarygodności Biznesowej przez Dun & Bradstreet, a następnie Bisnode Polska.' %} </h4>
<h4>{% trans 'Nie jesteśmy pośrednikiem – wszystkie prace wykonywane są przez nasz własny zespół i nadzorowane przez doświadczonych kierowników projektów oraz specjalistów językowych. W skład naszego stałego zespołu wchodzi kilkadziesiąt osób o wyjątkowych umiejętnościach i wieloletnim doświadczeniu.' %} </h4>
<h4>{% trans 'Nieustannie dostosowujemy się do zmian w branży. Doskonale znamy praktycznie wszystkie powszechnie używane oprogramowanie lokalizacyjne, dysponujemy także własnym serwerem terminologii oraz pamięci tłumaczeń. Dynamicznie dostosowujemy się do potrzeb naszych klientów.' %}</h4>
<h4>{% trans 'Ze względu na dużą skalę naszej działalności możemy zaoferować atrakcyjne stawki. W pojedynczej stawce zawarty jest cały proces lokalizacyjny, począwszy od przygotowania technicznego, przez tłumaczenie, korektę, zarządzanie projektem, aż do kontroli jakości i przygotowania wersji finalnej.' %}</h4>
<h4>{% trans 'Przekonaj się o zaletach współpracy z nami. Poznaj naszą jakość. Jeśli poszukujesz wiarygodnego dostawcy usług w parze EN-PL, to rozwiązanie dla Ciebie jest na wyciągnięcie ręki.' %} </h4>

                                </div>
                            </div>
                        </div> <!-- header -->

                       
                    </div>
                </div> <!-- working-section-two -->
            </section>

           <section class="contact-section">    
		<div class="contact-section-two">
            <div class="container">
                <div class="row">
                   <div class="col-sm-6 col-md-6">
	<div class="contact-wrapper-two">
	    <h3>{% trans 'Biuro' %}</h3>
	    <ul class="location" class="fa-ul">
			
				<ul class="fa-ul">
					<li>
						<div class="row">
							<div class="col-sm-1 col-md-1">
								<i class=" fa fa-cog"></i>
							</div>
							<div class="col-sm-11 col-md-11">
								<span class="text">{% trans "Trzy kondygnacje, sala open space, 6 pomieszczeń roboczych i pokój konferencyjny; dwa niezależne pomieszczenia studia nagrań." %}</span>					</div>
						</div>
					</li>
				
				</ul>
					
				<ul class="fa-ul">
					<li>
						<div class="row">
							<div class="col-sm-1 col-md-1">
								<i class=" fa fa-cog"></i>
							</div>
							<div class="col-sm-11 col-md-11"><span class="text">{% trans "Infrastruktura: W pełni zwirtualizowane środowisko serwerowe na bazie oprogramowania VMware vSphere; główny klaster z 3 serwerami fizycznymi i 2 urządzeniami typu NAS; osobny serwer kontroli domeny i usług sieciowych. Sieć firmowa z 20 stacjami roboczymi oraz znaczną liczbą komputerów pracujących zdalnie." %}</span>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-sm-1 col-md-1">
								<i class=" fa fa-cog"></i>
							</div>
							<div class="col-sm-11 col-md-11"></i><span class="text">{% trans "Bezpieczeństwo: Kontrola dostępu na kartę, monitoring i system alarmowy, system kopii bezpieczeństwa na bazie urządzeń RDX, podtrzymanie bateryjne UPS, niezależny generator prądu." %}</span>
							</div>
						</div>
					</li>
				</ul>
			
				<ul class="fa-ul">
					<li>
						<div class="row">
							<div class="col-sm-1 col-md-1">
							<i class=" fa fa-cog"></i>
							</div>
							<div class="col-sm-11 col-md-11"><span class="text">{% trans 'Łącze światłowodowe 70 Mb/s Downlink + 70 Mb/s Uplink, awaryjne łącze internetowe: ADSL (osobna linia).' %}</span>
						</div>
						</div>
					</li>
				</ul>
	    
	    </ul>
	    
	</div> <!-- contact-wrapper-two -->
</div> <!-- column -->

                    <div class="col-sm-5 col-md-5 col-md-offset-1">
                        <div class="contact-wrapper-two">
                            <img class="img-responsive" src="{% static "assets/images/locstar_building600r.jpg" %}" alt="image">
                        </div> <!-- contact-wrapper-two -->
                    </div>
                </div>
            </div>
		</div> <!-- contact-section-two -->
	</section> <!-- contact-section -->

{% endblock %}