{% extends "locstar/base.html" %}
{% load i18n static %}

{% block content %}
<section class="banner-section">
    <div class="container">
        <div class="header-title2 text-center">
            <h2 class="title">{% trans 'Tłumaczenie' %}</h2>
            
        </div> <!-- header-title -->
    </div>
</section> <!-- banner-section -->
<section class="team-section section-padding">
<div class="working-section-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="team-part">
                                <div class="row first-part">
                                    <div class="col-md-3">
                                        <div class="section-wrapper">
                                            <span class="caption"><img class="img-responsive"  src="{% static "assets/images/team/t1.jpg" %}" alt="image"></span>

                                            <div class="wrapper-content">
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                          Jacek Skarbek 
                                                        </a>
                                                        <span class="pull-right"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                    </h4>
                                                </div>

                                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <span class="pull-right"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                    <div class="panel-body">
                                                        Delivering a well-managed network demands more than just day-to-day attention. It also requires a professional approach to projects and technology services.

                                                        
                                                    </div>
                                                </div>

                                                </div>
                                            </div>
                                            </div>
                                        </div> <!-- section-wrapper -->
                                    </div>

                                    <div class="col-md-4">
                                        <div class="section-wrapper">
                                             <span class="caption"><img class="img-responsive"  src="{% static "assets/images/team/t1.jpg" %}" alt="image"></span>

                                            <div class="wrapper-content">
                                                <h3>Hasib Sharif</h3>
                                                <span class="position">Founder & CEO</span>
                                                <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled</p>

                                                <a href="#" class="link">View Profile</a>
                                            </div>
                                        </div> <!-- section-wrapper -->
                                    </div>


                                    <div class="col-md-4">
                                        <div class="section-wrapper">
                                             <span class="caption"><img class="img-responsive"  src="{% static "assets/images/team/t1.jpg" %}" alt="image"></span>

                                            <div class="wrapper-content">
                                                <h3>Hasib Sharif</h3>
                                                <span class="position">Founder & CEO</span>
                                                <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled</p>

                                                <a href="#" class="link">View Profile</a>
                                            </div>
                                        </div> <!-- section-wrapper -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="section-wrapper">
                                             <span class="caption"><img class="img-responsive"  src="{% static "assets/images/team/t1.jpg" %}" alt="image"></span>

                                            <div class="wrapper-content">
                                                <h3>Hasib Sharif</h3>
                                                <span class="position">Founder & CEO</span>
                                                <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled</p>

                                                <a href="#" class="link">View Profile</a>
                                            </div>
                                        </div> <!-- section-wrapper -->
                                    </div>

                                    <div class="col-md-4">
                                        <div class="section-wrapper">
                                             <span class="caption"><img class="img-responsive"  src="{% static "assets/images/team/t1.jpg" %}" alt="image"></span>

                                            <div class="wrapper-content">
                                                <h3>Hasib Sharif</h3>
                                                <span class="position">Founder & CEO</span>
                                                <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled</p>

                                                <a href="#" class="link">View Profile</a>
                                            </div>
                                        </div> <!-- section-wrapper -->
                                    </div>


                                    <div class="col-md-4">
                                        <div class="section-wrapper">
                                             <span class="caption"><img class="img-responsive"  src="{% static "assets/images/team/t1.jpg" %}" alt="image"></span>

                                            <div class="wrapper-content">
                                                <h3>Hasib Sharif</h3>
                                                <span class="position">Founder & CEO</span>
                                                <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled</p>

                                                <a href="#" class="link">View Profile</a>
                                            </div>
                                        </div> <!-- section-wrapper -->
                                    </div>
                                </div>
                            </div> <!-- team-part -->

                            
                        </div> <!-- col-md-9 -->

                   
                    </div>
                </div>
               </div>
            </section> <!-- team-grid-section -->
{% endblock %}