

{% extends "locstar/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">{% trans 'Technologie' %}</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>{% trans 'Technologie' %}</h2>
                                </div>

                                <div class="col-sm-8">
                                    <h4>{% trans 'Technologie komputerowego wspomagania tłumaczeń obejmują szereg narzędzi i usług, których głównym zadaniem jest przyspieszenie pracy tłumacza oraz zapewnienie najwyższej jakości finalnego tekstu. Sercem każdego profesjonalnego systemu CAT jest <b>pamięć tłumaczeń</b>, czyli specjalistyczna baza danych, w której tekst przechowywany jest w postaci segmentów — fragmentów odpowiednio powiązanych tekstów źródłowych i przetłumaczonych. ' %}</h4>
                                    <h4>
{% trans 'Aplikacje wspomagające tłumaczenie to także programy, które wspomagają lokalizację oprogramowania — możliwe jest więc tłumaczenie oprogramowania na poziomie zarówno kodu źródłowego, jak i skompilowanego projektu. Tłumacz ma dzięki temu podgląd wszystkich okien dialogowych, interfejsu użytkownika itp. ' %}</h4>
                                </div>
                            </div>
                        </div> <!-- header -->

                        <div class="section-wrapper">
                            <div class="row first-part">
                                <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    <a href="{% url  'tm'  %}"><h3>{% trans 'Pamięć tłumaczeń' %}</h3></a>
                                        <a href="{% url  'tm'  %}"><img src="{% static "assets/images/tmtr2.jpg" %}" alt="image"></a>
                                        <h3></h3>
                                        <h5>{% trans '<b>Pamięć tłumaczeń</b> to baza danych składająca się jednostek tłumaczeniowych, którymi najczęściej są zdania w języku źródłowym i ich tłumaczenia w języku docelowym.' %}</h5>
                                        
                                        <a href="{% url  'tm'  %}" class="btn btn-primary">{% trans 'Dowiedz się więcej' %}</a>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    <a href="{% url  'terminology'  %}"><h3>{% trans 'Zarządzanie terminologią' %}</h3></a>
                                        <a href="{% url  'terminology'  %}"><img src="{% static "assets/images/terms.jpg" %}" alt="image"></a>
                                         <h3></h3>
                                        <h5>{% trans '<b>Słowniki, glosariusze i bazy terminologiczne</b> stosowane przy tłumaczeniach: terminy, synonimy, akronimy oraz dodatkowe informacje.' %}</h5>
                                        

                                       <a href="{% url  'terminology'  %}" class="btn btn-primary">{% trans 'Dowiedz się więcej' %}</a>
                                    </div>
                                </div>

                               <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    	<a href="{% url  'mt'  %}"><h3>{% trans 'Tłumaczenie maszynowe' %}</h3></a>
                                        <a href="{% url  'mt'  %}"><img src="{% static "assets/images/mt.jpg" %}" alt="image"></a>
                                        <h3></h3>
                                        <h5>{% trans '<b>Systemy tłumaczenia maszynowego</b> umożliwiają częściowe zredukowanie pracy tłumacza poprzez automatyczne generowanie tłumaczeń przez komputer.' %}</h5>
										
                                         <a href="{% url  'mt'  %}" class="btn btn-primary">{% trans 'Dowiedz się więcej' %}</a>
                                    </div>
                               </div>
                               </div>
                                <div class="row first-part">
                               <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    	<a href="{% url  'tools'  %}"><h3>{% trans 'Narzędzia' %}</h3></a>
                                        <a href="{% url  'tools'  %}"><img src="{% static "assets/images/tools350.jpg" %}" alt="image"></a>
                                        <h3></h3>
                                        <h5>{% trans '<b>Systemy tłumaczenia maszynowego</b> umożliwiają częściowe zredukowanie pracy tłumacza poprzez automatyczne generowanie tłumaczeń przez komputer.' %}</h5>
										
                                         <a href="{% url  'tools'  %}" class="btn btn-primary">{% trans 'Dowiedz się więcej' %}</a>
                                    </div>
                               </div>
                            </div>
							
                            
                        </div> <!-- section-wrapper -->
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}