{% extends "locstar/base.html" %}
{% load i18n static %}

{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">{% trans 'Narzędzia tłumaczeniowe' %}</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>{% trans 'Narzędzia tłumaczeniowe' %}</h2>
                                    <p><i>{% trans '„Praca z narzędziami tłumaczeniowymi nie ogranicza się u nas wyłącznie do roli użytkowników. Mamy wystarczające doświadczenie, aby optymalizować proces tłumaczenia w każdym narzędziu. Wprowadzamy rozwiązania, o których nie pomyśleli nawet autorzy danego oprogramowania. Gdy sytuacje są szczególnie trudne, z pomocą idzie nasz autorski program LocX, który radzi sobie w każdej sytuacji.”' %}</i></p>
                                    <img class="img-responsive" src="{% static "assets/images/tools350.jpg" %}" alt="image">
                                </div>

                                <div class="col-sm-8">
                                    <h4>{% trans 'W realizowanych przez nas projektach tłumaczeniowych wykorzystujemy praktycznie wszystkie narzędzia CAT dostępne na rynku. W ich wyborze do konkretnych projektów dostosowujemy się do oczekiwań klientów bądź proponujemy najlepsze rozwiązania dla danej zawartości źródłowej. ' %}</h4>
          <h4>{% trans 'Narzędzia i systemy używane w naszej firmie umożliwiają konwersję formatów plików, pamięci tłumaczeń oraz słowników i glosariuszy, co pozwala na zastosowanie najbardziej odpowiednich procesów dla danego klienta i jego produktów.' %}</h4>                          
 <h3>{% trans 'Przykłady używanego oprogramowania:' %}</h3>
 <h4>
 <ul class="fa-ul">    
<li><i class="fa-li fa fa-cog fa-spin"></i>SDL Trados Studio (TM Server)</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Memoq (Server)</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Trados 2007</>
<li><i class="fa-li fa fa-cog fa-spin"></i>TagEditor</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Passolo</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>IBM Translation Manager</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>IBM OpenTM</>
<li><i class="fa-li fa fa-cog fa-spin"></i>Alchemy Catalyst</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Oracle HyperHub</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Idiom Worldserver</>
<li><i class="fa-li fa fa-cog fa-spin"></i>XTM Cloud</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Smartling</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Microsoft LocStudio</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Memsource</>
<li><i class="fa-li fa fa-cog fa-spin"></i>Microsoft Leaf</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Google Translation Toolkit</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>Tstream Editor</>
<li><i class="fa-li fa fa-cog fa-spin"></i>Xbench</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>OverTheRainbow</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>LocStar LocX</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>LocStar LocTM</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>LocStar LocTerms</li>
</ul>
</h4>


                                </div>
                            </div>
                        </div> <!-- header -->

                       
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}