
{% extends "locstar/base.html" %}
{% load i18n static %}

{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">{% trans 'Lokalizacja witryn internetowych' %}</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>{% trans 'Lokalizacja witryn internetowych' %}</h2>
                                    <p><i>{% trans '„Witryny internetowe to w dzisiejszych czasach nie tylko wizytówki firm, ale rozbudowane narzędzia informatyczne, które z poziomu przeglądarki zapewniają dostęp do zaawansowanych funkcji. Skoro współczesna witryna internetowa jest bardziej aplikacją komputerową niż zbiorem tekstów, to niezwykle przydatne okazuje się doświadczenie firmy Locstar z dziedziny lokalizacji oprogramowania.” ' %}</i></p>
                                    <img src="{% static "assets/images/website_b.jpg" %}" alt="image">
                                </div>
                                <div class="col-sm-8">
                                <h4>{% trans 'W lokalizacji zawartości internetowej niezwykle ważne jest wykorzystanie odpowiednich narzędzi do tłumaczenia oraz testowania. Konieczne jest zabezpieczenie wrażliwego kodu i zachowanie prawidłowego wyświetlania strony po jej przetłumaczeniu. Z naszej oferty korzystają firmy, które potrafią docenić nie tylko walory techniczne tłumaczenia, ale przede wszystkim doskonałą jakość i atrakcyjny styl tłumaczeń.' %}</h4>
<h4>{% trans 'Oferujemy lokalizację (z języka angielskiego na język polski) następującej zawartości:' %}</h4>
<h4>                                 
<ul class="fa-ul">                                  
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'witryny internetowe' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'portale intranetowe' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'aplikacje internetowe' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'sklepy internetowe' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'serwisy internetowe' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'usługi online' %}</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>{% trans 'inne' %}</li>
</ul>
</h4>
                                </div>
                            </div>
                        </div> <!-- header -->

                        
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}