

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">Machine Translations</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Machine Translations</h2>
                                    <img src="{% static "assets/images/work/words350.jpg" %}" alt="image">
                                </div>

                                <div class="col-sm-8">
<h4>Nasz model biznesowy bazuje na tłumaczeniach tradycyjnych, gdzie główną rolę odgrywają tłumacze, korektorzy oraz specjaliści językowi/eksperci branżowi.</h4>
<h4>Istnieją jednak projekty, w których klienci oczekują zastosowania tłumaczenia maszynowego (MT) bądź sami przygotowują wstępne tłumaczenie z wykorzystaniem tej technologii. Wówczas naszą rolą jest post-editing, czyli weryfikacja i korekta tłumaczeń maszynowych, tak aby finalna jakość tłumaczeń nie odbiegała od wyników uzyskanych w procesie tradycyjnym.</h4>
<h4>Firma LocStar posiada niezbędne doświadczenie w tej dziedzinie i na życzenie klienta może przygotować silnik tłumaczenia maszynowego na podstawie pamięci tłumaczeń i słowników klienta oraz swoich autorskich materiałów. Pozwala to na uzyskanie możliwie najwyższej jakości tłumaczenia wynikowego. Dysponujemy również zespołem post-edytorów, którzy mają wieloletnie tłumaczenie w zakresie korekty tłumaczenia maszynowego.</h4>
<h3>Oferta firmy LocStar:</h3>                
<h4>
<ul class="fa-ul">                                  
<li><i class="fa-li fa fa-cog fa-spin"></i>post-editing tłumaczenia maszynowego</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>kontrola jakości i optymalizacja silników tłumaczenia maszynowego</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>tworzenie silnika tłumaczenia maszynowego</li>
<li><i class="fa-li fa fa-cog fa-spin"></i>przygotowywanie plików z tłumaczeniem maszynowym do dalszego post-editingu</li>
</ul>
</h4>




                                </div>
                            </div>
                        </div> <!-- header -->

                       
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}