

{% extends "glos/base.html" %}
{% load i18n static %}



{% block content %}

<section class="banner-section">
                <div class="container">
                    <div class="header-title2 text-center">
                        <h2 class="title">Services</h2>
                        
                    </div> <!-- header-title -->
                </div>
            </section> <!-- banner-section -->
			
			 <section class="working-section section-padding-start">
                <div class="working-section-two">
                    <div class="container">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Services</h2>
                                </div>

                                <div class="col-sm-8">
                                    <h4>Świadczymy kompleksowe usługi związane z <b>lokalizacją oprogramowania i tłumaczeniem</b>, głównie z języka angielskiego na język polski. Przetłumaczyliśmy już ponad 150 milionów słów, a efekty naszej pracy można zobaczyć w postaci zlokalizowanych produktów na prawie każdym komputerze i telefonie — najbardziej popularny pakiet biurowy i system operacyjny w języku polskim to przykładowe efekty naszej pracy. </h4>
                                    
                                </div>
                            </div>
                        </div> <!-- header -->

                        <div class="section-wrapper">
                            <div class="row first-part">
                                <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    <h3>General Translation</h3>
                                        <img src="{% static "assets/images/cat.png" %}" alt="image">
                                        <h3></h3>
                                        <h5><b>Instrukcje obsługi, materiały marketingowe, dokumentacja, artykuły, treści edukacyjne itd.
</h5>
                                        
                                        <a href="{% url  'translation'  %}" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    <h3>Software Localization</h3>
                                        <img src="{% static "assets/images/tm.png" %}" alt="image">
                                         <h3></h3>
                                        <h5><b>Oprogramowanie komputerowe, aplikacje na urządzenia mobilne, systemy operacyjne, interfejsy sterujące urządzeń, gry itd.
</h5>
                                       <a href="{% url  'localization'  %}" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>

                               <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    	<h3>Website Localization</h3>
                                        <img src="{% static "assets/images/glossart.png" %}" alt="image">
                                        <h3></h3>
                                        <h5><b>Witryny, serwisy, portale, sklepy, aplikacje internetowe itd.
</h5>
										
                                         <a href="{% url  'website'  %}" class="btn btn-primary">Read More</a>
                                    </div>
                               </div>
							   <div class="col-sm-4">
                                    <div class="wrapper-content">
                                    	<h3>Other Services</h3>
                                        <img src="{% static "assets/images/glossart.png" %}" alt="image">
                                        <h3></h3>
                                        <h5><b>Kontrola jakości, usługi językowe, testowanie, studio nagraniowe.
</h5>
										
                                         <a href="{% url  'other'  %}" class="btn btn-primary">Read More</a>
                                    </div>
                               </div>
                            </div>
							
                            
                        </div> <!-- section-wrapper -->
                    </div>
                </div> <!-- working-section-two -->
            </section>

           

{% endblock %}